<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('_pagelet/header.html')
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12' style='height:23px'>
				</div>
			</div>
		</div>
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='panel panel-default'>
						<div class='panel-heading'><b>访问错误</b></div>
						<div class='panel-body'>
							<div class='col-md-12 col-sm-12'>
								<div>访问错误 (error: $!err.code)</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('_pagelet/js.html')

<script type='text/javascript'>
</script>

	</body>
</html>