<!DOCTYPE html>
<html lang='zh-CN'>
	<head>
		#parse('_pagelet/header.html')
	</head>
	<body>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12' style='height:23px'>
				</div>
			</div>
		</div>
		<header id='header'></header>
		<div class='container'>
			<div class='row'>
				<div class='col-md-12'>
					<div class='panel panel-default'>
						<div class='panel-heading'><b>应用授权</b></div>
						<div class='panel-body'>
							<div class='col-md-5 col-sm-6'>
								<form class='form-horizontal' role='form' id='logFrm' method='post' action=''>
									<div class='form-group' style='display:none'>
										<label class='col-sm-3 control-label'>ticket</label>
										<div class='col-sm-9'>
											<input type='text' class='form-control' name='ticket' value='$!data.ticket'>
										</div>
									</div>
									<div class='form-group' style='display:none'>
										<label class='col-sm-3 control-label'>response_type</label>
										<div class='col-sm-9'>
											<input type='text' class='form-control' name='response_type' value='$!data.query.response_type'>
										</div>
									</div>
									<div class='form-group' style='display:none'>
										<label class='col-sm-3 control-label'>client_id</label>
										<div class='col-sm-9'>
											<input type='text' class='form-control' name='client_id' value='$!data.query.client_id'>
										</div>
									</div>
									<div class='form-group' style='display:none'>
										<label class='col-sm-3 control-label'>redirect_uri</label>
										<div class='col-sm-9'>
											<input type='text' class='form-control' name='redirect_uri' value='$!data.query.redirect_uri'>
										</div>
									</div>
									<div class='form-group' style='display:none'>
										<label class='col-sm-3 control-label'>scope</label>
										<div class='col-sm-9'>
											<input type='text' class='form-control' name='scope' value='$!data.query.scope'>
										</div>
									</div>
									<div class='form-group' style='display:none'>
										<label class='col-sm-3 control-label'>state</label>
										<div class='col-sm-9'>
											<input type='text' class='form-control' name='state' value='$!data.query.state'>
										</div>
									</div>
									<div class='form-group'>
										<label for='logFrm_user_name' class='col-sm-3 control-label'>帐号</label>
										<div class='col-sm-9'>
											<input type='text' class='form-control' name='user_name' id='logFrm_user_name' placeholder='帐号' required data-original-title='帐号不能为空'>
										</div>
									</div>
									<div class='form-group'>
										<label for='logFrm_user_pass' class='col-sm-3 control-label'>密码</label>
										<div class='col-sm-9'>
											<input type='password' class='form-control' name='user_pass' id='logFrm_user_pass' placeholder='密码' required data-original-title='密码不能为空'>
										</div>
									</div>
									<div class='form-group'>
										<div class='col-sm-offset-3 col-sm-4'>
											<button id='' type='submit' class='btn btn-primary'>授权并登陆</button>
										</div>
										<label class='col-sm-5 control-label'><a style='text-decoration:underline' href='javascript:;'>忘记密码？</a></label>
									</div>
								</form>
							</div>
							<div class='col-md-offset-1 col-sm-offset-1 col-md-6 col-sm-5'>
								<div><a href='$!data.user_app.website' target='_blank'>$!data.user_app.app_name</a> 将获得以下权限：</div>
								<div class='checkbox'>
									<label>
										<input disabled type='checkbox' checked id='select_all'> <span style='font-weight:bold'>全选</span>
									</label>
								</div>
								<div class='checkbox'>
									<label>
										<input disabled type='checkbox' checked name='api_choose' id='item_3821' value='3821'> <span style=''>获得您的昵称、头像、性别</span>
									</label>
								</div>
								<div>&nbsp;</div>
								<div>授权后表明你已同意 <a style='font-weight:bold;text-decoration:underline' href='javascript:;'>协议</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		#parse('_pagelet/js.html')

<script type='text/javascript'>

  function ser(frmObj){
    var __a = frmObj.serializeArray();
    var __b = _.pluck(__a, "name");
    var __c = _.pluck(__a, "value");
    var __d = _.object(__b, __c);
    return __d;
  }

  $(function(){
    $('#btn_log').click(function(){
      // $('input[name="api_choose"]:checked').each(function(){
      //   console.log($(this).val())
      // });

      var data = ser($('#logFrm'));
      $.ajax({
        url: '/oauth/2.0/authorize',
        type: 'POST',
        dataType: 'JSON',
        data: data,
        success: function(data){
          console.log(data);
        },
        error: function(){
          alert(arguments[2]);
        }
      });
    });
  });
</script>

	</body>
</html>